.swiper {
  width: 72%;
  padding-bottom: 24px;
  padding-top: 24px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px !important;
  border-radius: 8px;
}

.swiper-slide.swiper-slide-visible.swiper-slide-active {
  transition: all 0.3s !important;
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1.1) !important;
}

.swiper-slide.swiper-slide-visible.swiper-slide-next {
  transform: translate3d(0px, 0px, -10px) rotateX(0deg) rotateY(-50deg)
    scale(0.8) !important;
}

.swiper-slide.swiper-slide-visible.swiper-slide-prev {
  transform: translate3d(0px, 0px, -10px) rotateX(0deg) rotateY(50deg)
    scale(0.8) !important;
}

.swiper-slide-visible.swiper-slide-next,
.swiper-slide-visible.swiper-slide-prev {
  transition: all 0.5s !important;
}

.swiper-controller {
  position: relative;
  margin-top: 80px;
  display: flex;
  gap: 10px;
  z-index: 1111;
}

.swiper-button-next,
.swiper-button-prev {
  border: 1px solid white;
  padding: 12px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
  font-size: 24px !important;
}

.slider-arrow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
  background: #fff;
}

.slider-arrow::after {
  content: "";
}

.slider-arrow .icon {
  position: relative;
  z-index: 11111111111;
  color: black;
  font-size: 16px;
  font-weight: 500;
  pointer-events: all;
  cursor: pointer;
}

.swiper-pagination {
  transform: translateY(50%) !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 4px !important;
  border-radius: 4px !important;
  transition: all 0.3s;
  background: #ffffff;
}

.swiper-pagination-bullet-active {
  width: 20px !important;
  background: #ffffff;
}
